@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Eurostile;
      font-weight: 400;
      src: url(../public/fonts/Eurostile.ttf);
    }
    @font-face {
      font-family: Persian;
      font-weight: 400;
      src: url(../public/fonts/BHoma.ttf);
    }
  }
html , body {
    margin: 0;
    padding: 0;
    display: table;
}
.home{
    display: block !important;
    width: 100vw;
}
body {
    background-color: #101010;
    /* background-color: #1E2337; */
    margin: 0;
    max-height: 100dvh !important;
    overflow-y: hidden !important;
    font-family: Eurostile;
}
.persian{
  font-family: Persian !important;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
.page
::selection{
    background: #D2AC72;
    color: white;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .8;
    visibility: visible;
    z-index: -100;
  }

  .stack{
    display: grid;
  }

  .stack > *{
    grid-area: 1/1;

  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.05);
	transform: translateY();
    width: 50%;
    height: 50%;
}

::-webkit-scrollbar
{
	width: 0px;
    height: 3px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: #d3a156d7;
    border-radius: rgba(211, 161, 86, 0.732)
}

.image-container {
    overflow: hidden;
    background-color: #212121;
  }
  
  .team {
    width: 100%;
    scale: 1.3;
  }

  .humb {
    /* clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 60%, 0 30%); */
    clip-path: polygon(calc(100% - 12px) 0, calc(100% - 12px) 40%, 100% 40%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%, 0 12px, 12px 0);
  }
  .const-img {
    width: 100%;
    scale: 1.3;
  }
  .swiper-button-next ,.swiper-button-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff80 !important;
    background-color: #D2AC7280;
    padding: 5px 25px 30px 12px;
    font-size: 5px;
    transition-duration: 300ms;
  }
  .swiper-button-disabled{
    opacity: "10%" !important;
  }
  :root {
    --swiper-navigation-size: 25px !important
  }

  @media screen and (max-width: 600px) {
    .swiper-button-next ,.swiper-button-prev{
      display: none !important;
    }
  }
  body{
    max-width: 100dvw !important;
    max-height: 100dvh !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }